.container {
    background-color: darkcyan;
}

.otp-container {
    text-align: center;
    text-align: center;
    padding: 25px;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.otp-form {
    margin-top: 20px;
}

.otp-inputGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.otp-btn {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70%;
    height: 100%;
    font-size: larger;
    font-weight: 500;
}

.otp-btn:hover {
    opacity: 0.8;
}

.otp-btn:active {
    width: 50%;
    height: 50%;
    transform: translate(-1%, -1%);
    opacity: 0.9;
}